var Constants = {

  APP_SERVER_PORT: 8080,

  HBASE_THRIFT_SERVER_NAME: "localhost",
  HBASE_THRIFT_SERVER_PORT: 9090,

  // product name and description
  PRODUCT_NAME: "Taskcule",
  PRODUCT_SHORT_DESCRIPTION: "Integrated Work Load Management Tool For Professionals",
  PRODUCT_DESCRIPTION: "Track your ToDo's, iteration stories and tasks in a single app", 

  // google app id and app secret - register your application and fill in 
  // these two to support login via google oauth
  EVERYAUTH_GOOGLE_APPID: "xxx.apps.googleusercontent.com",
  EVERYAUTH_GOOGLE_APPSECRET: "xxxxxxxxxx",

  // github client id and app secret - register your application and fill in 
  // these to support github oauth login
  EVERYAUTH_GITHUB_APPID: "xxxxxxxxx",
  EVERYAUTH_GITHUB_APPSECRET: "xxxxxxxxxxxxxx",

  // session secret string for security.  You can use this default below
  SESSION_SECRET: "ThisCanBeAnyString",

  // Social: addthis url (if you want to social-ize your site)
  SOCIAL_ADDTHIS_URL: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-xxxxxxxxxx",


  // Google analytics
  GOOGLE_ANALYTICS_DOMAIN: "tascule.com",
  GOOGLE_ANALYTICS_TRACKING_ID: "UA-xxxxxxxx",

};

module.exports = Constants;
