/**
 * Button Object
 */
.btn-auth,
.btn-auth:visited {
    position: relative;
    display: inline-block;
    height: 22px;
    padding: 0 1em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */
}

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active {
    color: #222;
    text-decoration: none;
}

.btn-auth:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url(../img/auth-icons.png) no-repeat 99px 99px;
}

/**
 * 36px
 */

.btn-auth.large {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}

.btn-auth.large:before {
    width: 36px;
    height: 36px;
}

/*
 * Remove excess padding and border in FF3+
 */

.btn-auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Google & Github
   ========================================================================== */

.btn-github,                                                                     
.btn-github:visited,
.btn-google,
.btn-google:visited {
    border-color: #3079ed;
    color: #fff;
    background: #4787ed;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(#4d90fe, #4787ed);
    background-image: -moz-linear-gradient(#4d90fe, #4787ed);
    background-image: -ms-linear-gradient(#4d90fe, #4787ed);
    background-image: -o-linear-gradient(#4d90fe, #4787ed);
    background-image: linear-gradient(#4d90fe, #4787ed);
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-google:hover,
.btn-google:focus,
.btn-google:active {
    color: #fff;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(#4d90fe, #357ae8);
    background-image: -moz-linear-gradient(#4d90fe, #357ae8);
    background-image: -ms-linear-gradient(#4d90fe, #357ae8);
    background-image: -o-linear-gradient(#4d90fe, #357ae8);
    background-image: linear-gradient(#4d90fe, #357ae8);
}

.btn-github:active,
.btn-google:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

/*
 * Icon
 */
.btn-google:before {
    margin: 0 1em 0 -1em;
    background-position: -88px 0;
    background-color: #e6e6e6;
}

.btn-google.large:before {
    background-position: -144px -22px;
}

.btn-github:before {
    margin: 0 1em 0 -1em;
    background-position: -66px 0;
}

.btn-github.large:before {
    background-position: -108px -22px;
}
